@charset "utf-8";

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/


/*!样式目录
 *
 * Fix IE10 & Windows Phone 8 --------- windows phone补丁
 * Global ----------------------------- 基础样式
 * Transition ------------------------- 过渡动画
 * Fix bug for IE8 -------------------- IE8补丁
 * Bootstrap Extended style ----------- BS增强版
 * Components ------------------------- 组件
 * Layouts ---------------------------- 布局
 * Modules -----------------------------模块
 */


/*------------------------------------*\
    $Fix IE10 & Windows Phone 8
\*------------------------------------*/

@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}


/*------------------------------------*\
    $Global
\*------------------------------------*/

html {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	min-width: 1230px;
	font-family: 'Microsoft YaHei', FreeSans, Arimo, 'Droid Sans', 'wenquanyi micro hei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', Arial, sans-serif, "\5b8b\4f53";
	color: white;
	background-color: #4c4c4c;
}

img {
	-ms-interpolation-mode: bicubic;
}

a,
a:hover,
a:focus {
	color: white;
	text-decoration: none;
}

[readonly] {
	color: #aaa;
	cursor: not-allowed;
}

::selection {
	color: highlighttext;
	background-color: highlight;
	text-shadow: none;
}

.text-red {
	color: red;
}


/*------------------------------------*\
    $Transition
\*------------------------------------*/

.transition:before {
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}


/*------------------------------------*\
    $Fix bug for IE8
\*------------------------------------*/

a:focus,
button:focus {
	outline: 0 !important;
	text-decoration: none !important;
}


/*onFocus状态下虚线问题*/

.ie8 a {
	star: expression_r(this.onFocus=this.blur());
	behavior: url(../js/htc/line.htc);
}


/*圆角*/

.ie8 .btn {
	position: relative;
	behavior: url(../js/htc/PIE.htc);
}


/*------------------------------------*\
    $Buttons
\*------------------------------------*/

.btn {
	position: relative;
	appearance: none;
	border-radius: 0;
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.btn.btn-lg {
	padding: 5px 35px;
	text-indent: 3px;
	letter-spacing: 3px;
}


/* 红色 */

.btn-red {
	color: white;
	background-color: #dd0024;
	border-color: #dd0024;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
	color: white;
	background-color: #d00325;
	border-color: #d00325;
}


/*------------------------------------*\
    $Bootstrap Extended style
\*------------------------------------*/


/*圆角格式化*/

.form-format .form-control {
	border: none;
	border-radius: 0;
}

.form-format .form-control:focus {
	box-shadow: none;
}


/*分页条*/

.pager {
	margin: 30px auto 10px;
}

.pager li>a,
.pager li>span {
	font-size: 28px;
	color: white;
	border: none;
	border-radius: 0;
}

.pager li>a {
	width: 42px;
	height: 42px;
	text-align: center;
	padding: 0;
	background-color: #282828;
}

.pager li>span {
	padding: 0 14px;
	background-color: transparent;
}

.pager li>a:focus,
.pager li>a:hover {
	background-color: #c5122f;
}

.pager .disabled>a,
.pager .disabled>a:focus,
.pager .disabled>a:hover,
.pager .disabled>span {
	color: white;
	background-color: #282828;
}

.page-number .number-wrap>b,
.page-number .number-wrap>em,
.page-number .number-wrap>i {
	position: relative;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-family: arial;
}

.page-number .number-wrap>b {
	color: #c5122f;
}

.page-number .number-wrap>b+i {
	padding-left: 10px;
}

.page-number .number-wrap>b+i:before {
	position: absolute;
	left: -3px;
	top: 50%;
	z-index: 99;
	display: inline-block;
	margin-top: -11px;
	width: 9px;
	height: 22px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAWCAYAAAASEbZeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACbSURBVDhP1ZJRDYAwEEMnAQlIQAISkIITJCABCUjByUZ7FJJm44NPXrKQvHa5XUJqUUrpcUadTtrJOS8Ib15LB1N8dykHGUcFKM3SDgN1yCDtoLQx5UipmrgPUFqlHGTTVQkmaQe3n9WlavgOFvguKQfZ59V7aYcjmHKkVE3cBygtUg6yX66+M+VIqZq4D1Bqr06Q3z98e1RK6QR6XxewKZl27gAAAABJRU5ErkJggg==) no-repeat left center;
	content: '';
}


/*Bootstrap-select.js */

.bootstrap-select .btn .caret {
	border-top-width: 7px;
	border-right-width: 6px;
	border-left-width: 6px;
}

.bootstrap-select .dropdown-header {
	font-size: 13px;
}


/*scrollUp.js*/

#scrollUp {
	bottom: 40px;
	right: 20px;
	width: 44px;
	height: 44px;
	overflow: hidden;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	border: none;
	color: #fff;
	background: rgba(187, 187, 187, .8) !important;
	border-radius: 50%;
}

#scrollUp:hover {
	background: rgba(170, 170, 170, .8) !important;
}


/*ie8*/

.ie8 #scrollUp {
	background-color: #aaa;
	behavior: url(../js/htc/PIE.htc);
}


/*!
 * Bootstrap-select v1.7.3 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2015 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */

.lte9 .bootstrap-select {
	width: 220px;
}

.bootstrap-select > .dropdown-toggle {
	width: 100%;
	padding-right: 25px;
	color: white;
	border-color: #333;
	background-color: #333;
}

.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
	color: white;
	background-color: #dd0024;
	border-color: #dd0024;
}

.bootstrap-select > .dropdown-toggle .fa.fa-angle-down {
	font-size: 22px;
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
	border-color: #b94a48;
}

.bootstrap-select.fit-width {
	width: auto !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 220px;
}

.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none;
}

.bootstrap-select.form-control:not([class*="col-"]) {
	width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
	z-index: auto;
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
	float: none;
	display: inline-block;
	margin-left: 0;
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
	float: right;
}

.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
	margin-bottom: 0;
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
	padding: 0;
}

.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%;
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
	cursor: not-allowed;
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
	outline: none !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left;
	font-size: 16px;
}

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
	width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu li {
	position: relative;
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff;
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	font-size: 16px;
	cursor: pointer;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em;
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block;
}

.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: 0.5em;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	pointer-events: none;
	filter: alpha(opacity=90);
	opacity: 0.9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px;
	white-space: nowrap;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
	z-index: 1036;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, 0.2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, 0.2);
	border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid white;
	border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
	display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
	padding: 4px 8px;
}

.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
	width: 50%;
}

.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bs-donebutton .btn-group button {
	width: 100%;
}

.bs-searchbox + .bs-actionsbox {
	padding: 0 8px 4px;
}

.bs-searchbox .form-control {
	margin-bottom: 0;
	width: 100%;
}

select.bs-select-hidden,
select.selectpicker {
	display: none !important;
}

select.mobile-device {
	position: absolute !important;
	top: 0;
	left: 0;
	display: block !important;
	width: 100%;
	height: 100% !important;
	opacity: 0;
}


/*格式化*/

.select-horizontal {
	/*水平*/
}

.select-horizontal .inner {
	max-width: 800px;
}

.select-vertical {
	/*垂直*/
}


/*------------------------------------*\
    $Components
\*------------------------------------*/


/*文本溢出隐藏*/

.cp-text--indent {
	text-indent: -9999em;
}


/*返回顶部*/

.cp-scrollUp {
	bottom: 40px;
	right: 20px;
	width: 46px;
	height: 46px;
	overflow: hidden;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	border: none;
	color: #fff;
	background: rgba(187, 187, 187, .8) !important;
	border-radius: 50%;
}

.cp-scrollUp:hover {
	background: rgba(170, 170, 170, .8) !important;
}

.ie8 .cp-scrollUp {
	background-color: #aaa;
	behavior: url(../js/htc/PIE.htc);
}


/*筛选*/

.cp-select {
	margin: 20px auto 50px;
}

.cp-select .select-item {
	position: relative;
}

.cp-select .select-item+.select-item {
	margin-left: 20px;
}


/*焦点图*/

.cp-banner {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}


/*分页*/

.cp-pagination>nav {
	min-width: 170px;
}


/*------------------------------------*\
    $Layouts
\*------------------------------------*/


/*布局*/

.inner {
	height: auto;
}

.container {
	width: 1230px !important;
}

.page-main {
	padding-top: 50px;
	padding-bottom: 50px;
	outline: 0;
}

.page .wrapper {
	margin: 10px auto;
	padding-bottom: 35px;
	background-color: white;
}

.section {
	background-color: #282828;
}

.section+.section {
	margin-top: 20px;
}


/*导航*/

.navbar-inverse {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-header {
	float: left;
}

@media (max-width: 768px) {
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		margin-top: 25px;
	}
}

.navbar-brand {
	display: inline-block;
	padding: 0;
	margin: 30px;
	width: 192px;
	height: 50px;
	background: url(../img/web/logo.png) no-repeat center center / cover;
}

.ie8 .navbar-brand {
	-ms-behavior: url(../js/htc/backgroundsize.min.htc);
}

.navbar>.container-fluid .navbar-brand {
	margin: 25px 30px 30px 15px;
}

.container-fluid>.navbar-collapse {
	margin-left: 237px;
}

@media (max-width: 768px) {
	.container-fluid>.navbar-collapse {
		margin-left: 0;
	}
}

.navbar-nav {
	margin-top: 30px;
	width: 100%;
}

.nav>li {
	position: static;
	width: 14.28571428571429%;
	text-align: center;
}

.nav>li>a {
	padding: 27.5px 5px;
	font-size: 19px;
	letter-spacing: 5px;
}

@media (max-width:1300px) {
	.nav>li>a {
		letter-spacing: 0;
	}
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #dd0024;
}

.navbar-nav>li>.dropdown-menu {
	left: inherit;
	margin: 0;
	padding: 0;
	width: auto;
	height: 75px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.navbar-nav>li>.dropdown-menu:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -1920px;
	display: block;
	content: '';
	width: 3840px;
	height: 75px;
	background-color: rgba(255, 255, 255, .5) !important;
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.ie8 .navbar-nav>li>.dropdown-menu:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fffffff',endColorstr='#7fffffff')";
}

.navbar-nav>li:last-child>.dropdown-menu {
	right: 0;
}

@media (max-width: 1470px) {
	.navbar-nav>li:nth-child(5)>.dropdown-menu,
	.navbar-nav>li:nth-child(6)>.dropdown-menu,
	.navbar-nav>li:last-child>.dropdown-menu {
		right: 0;
	}
}

.navbar-nav>li>.dropdown-menu li {
	position: relative;
	float: left;
	z-index: 2000;
}

.navbar-nav>li>.dropdown-menu li>a {
	padding-top: 0;
	padding-bottom: 0;
	color: black;
	font-size: 18px;
	line-height: 75px;
}

.dropdown-menu>li.active-sub>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: #dd0024 !important;
	background-color: transparent;
}


/*脚部*/

.page-footer {
	min-height: 230px;
	color: #929292;
	background-color: #171717;
}


/*版权*/

.copyright {
	margin: 42px auto 30px;
}


/*友情链接*/

.page-links-title {
	margin-bottom: 20px;
}

.page-links li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.page-links a {
	display: block;
	min-width: 148px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #929292;
	border: 1px solid #666;
}

.page-links a:hover,
.page-links a:active,
.page-links a:focus {
	text-decoration: none;
}


/*我要驾驶和微信公众号*/

.link-drive,
.qr-code {
	display: inline-block;
	margin-top: 34px;
}

.link-drive {
	margin-right: 8px;
}


/*------------------------------------*\
    $Modules
\*------------------------------------*/

.carousel-indicators {
	margin-bottom: 0 !important;
}


/*
 *首页
 **************************************/

.slide.index {}


/*
** 公共样式
*/

.page-index {
	outline: 0;
}

.page-index .section+.section {
	margin-top: 0;
}

.page-index .section:nth-child(even) {
	background-color: #4c4c4c;
}

.page-index .section header {
	position: relative;
	padding: 50px 65px 0 65px;
}

.page-index .section .title {
	padding-left: 48px;
	margin-top: 0;
	margin-bottom: 0;
	height: 47px;
	line-height: 47px;
	background-position: left bottom;
	background-repeat: no-repeat;
}

.page-index .section:first-child .title {
	background-image: url(../img/web/title-qiche01.png);
}

.page-index .section:nth-child(2) .title {
	background-image: url(../img/web/title-qiche02.png);
}

.page-index .section:nth-child(3) .title {
	background-image: url(../img/web/title-anli.png);
}

.page-index .section:last-child .title {
	background-image: url(../img/web/title-news.png);
}

.page-index .tab {
	position: relative;
	top: 5px;
	margin-bottom: 0;
}

.page-index .tab li {
	position: relative;
	float: left;
	padding: 10px 0;
}

.page-index .tab li+li {
	margin-left: 1px;
}

.page-index .tab li+li:before {
	position: relative;
	top: -2px;
	left: -2px;
	display: inline-block;
	content: '|';
}

.page-index .tab li>a {
	padding: 0 15px 0 10px;
	font-size: 18px;
}

.page-index .tab li:hover {
	background-color: #dd0629;
}

.page-index .section .body {
	padding: 75px 65px;
}


/*
** 试驾基地
*/

.page-index .section.base {}

.page-index figure.base {
	padding: 75px 65px;
}

.page-index figure.base .carousel-inner {}

.page-index figure.base .caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	color: #fff;
	text-align: left;
}

.page-index figure.base .caption a:first-child {
	padding-right: 20px;
}

.page-index figure.base .caption a:last-child {
	padding-left: 20px;
}

.page-index figure.base .caption h4 {
	margin-top: 28px;
	margin-bottom: 28px;
}

.page-index figure.base .caption p {
	height: 40px;
	overflow: hidden;
	filter: alpha(opacity=80);
	opacity: .8;
}

.page-index figure.base .caption p:hover {
	text-decoration: underline;
}

.page-index figure.base .caption span>.fa {
	color: #dd0629;
	font-size: 18px;
}

.page-index figure.base .control {
	position: absolute;
	top: 40%;
	display: block;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	font-size: 3.5em;
	color: #fff;
}

.page-index figure.base .control:focus,
.page-index figure.base .control:hover {
	color: #dd0629;
}

.page-index figure.base .control.left {
	left: 0;
	text-align: left;
}

.page-index figure.base .control.right {
	right: 0;
	text-align: right;
}

@media screen and (min-width: 768px) {
	.page-index figure.base .control {
		font-size: 5.5em;
	}
}


/*
** 越野器械
*/

.page-index .test-drive .body {
	padding-top: 30px;
	padding-bottom: 50px;
}

.page-index .test-drive .row {
	margin: 0;
}

.page-index .test-drive div[class*="col-"] {
	padding: 0;
}

.page-index .test-drive .thumbnail {
	margin-bottom: 0;
	padding: 83px 20px;
	color: white;
	background-color: transparent;
	border: none;
	border-radius: 6px;
}

.page-index .test-drive .thumbnail:hover {
	background-color: #dd0629;
}

.page-index .test-drive .thumbnail .caption {
	padding: 0;
	color: white;
}

.page-index .test-drive .thumbnail .caption>h4 {
	margin-top: 28px;
	margin-bottom: 28px;
}

.page-index .test-drive .thumbnail .caption p {
	filter: alpha(opacity=80);
	opacity: .8;
}

.page-index .test-drive .thumbnail .caption p:hover {
	text-decoration: underline;
}

.page-index .test-drive .thumbnail .caption span>.fa {
	font-size: 18px;
}


/*
** 越野器械
*/

.page-index .case .body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.page-index .case .row {
	margin-left: -20px;
	margin-right: -20px;
}

.page-index .case div[class*="col-"] {
	padding-left: 20px;
	padding-right: 20px;
}

.page-index .case .thumbnail {
	margin-bottom: 0;
	padding: 0;
	color: white;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.page-index .case .thumbnail .caption {
	padding: 0;
	color: white;
}

.page-index .case .thumbnail .caption>h4 {
	margin-top: 28px;
	margin-bottom: 28px;
}

.page-index .case .thumbnail .caption>h4:hover {
	text-decoration: underline;
}

.page-index .case .thumbnail .caption span>.fa {
	color: #dd0629;
	font-size: 18px;
}


/*
** 新闻中心
*/

.page-index .news .body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.page-index .news .row {
	margin-left: -20px;
	margin-right: -20px;
}

.page-index .news div[class*="col-"] {
	padding-left: 20px;
	padding-right: 20px;
}

.page-index .news .thumbnail {
	margin-bottom: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.page-index .news .thumbnail .caption {
	position: relative;
	top: -50px;
	min-height: 167px;
	overflow: hidden;
	margin: 0 57px;
	padding: 0 50px;
	color: white;
	background-color: white;
}

.page-index .news .thumbnail .caption:hover {
	background-color: #dd0629;
}

.page-index .news .thumbnail .caption>h4 {
	margin-top: 28px;
	margin-bottom: 28px;
	color: black;
	font-size: 16px;
}

.page-index .news .thumbnail .caption:hover>h4 {
	color: white;
}

.page-index .news .thumbnail .caption p {
	color: #4c4c4c;
}

.page-index .news .thumbnail .caption:hover p {
	color: white;
	text-decoration: underline;
}


/*
 *产品中心-试驾基地
 **************************************/

.page-base {
	padding-top: 0;
}

.page-base .cp-select {
	margin-bottom: 20px;
}

.page-base .base-inner {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
}

.page-base a:hover,
.page-base a:active,
.page-base a:focus {
	color: white;
	text-decoration: none;
}

.page-base .base-photo {
	float: left;
	width: 800px;
	height: 520px;
	overflow: hidden;
}

.base-wrap .base-description {
	float: right;
	padding: 80px 40px 40px 30px;
	width: 400px;
	height: 520px;
}

.base-wrap .base-description:hover {
	background-color: #dd0024;
}

.base-wrap .base-description .base-heading {
	margin-bottom: 50px;
}

.base-wrap .base-description p {
	filter: alpha(opacity=80);
	opacity: .8;
}

.section:nth-child(even) .base-photo {
	float: right !important;
}

.section:nth-child(even) .base-description {
	float: left !important;
}


/*
 *产品中心-试驾基地-三级详情页
 **************************************/

.page-base-detail {}

.base-detail-wrap>header hr {
	margin: 35px auto;
	border-color: #6e6e6e;
}

.base-detail-wrap>p {
	font-size: 18px;
	line-height: 1.6;
}

.base-detail-wrap section+section {
	margin-top: 20px;
}

.base-detail-wrap .section-title {
	margin-bottom: 20px;
}

.base-detail-wrap .list-title {
	margin-bottom: 20px;
}

.base-detail-wrap .section-title small {
	color: white;
}

.base-detail-wrap .base-list li {
	float: left;
}

.base-detail-wrap .base-list li+li {
	margin-left: 20px;
}

.base-detail-wrap .base-list li .title {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #888;
}

.base-detail-wrap .map {
	margin: 20px auto;
	height: 400px;
	overflow: hidden;
}

.base-detail-wrap .map .map-modify {
	width: 810px;
}

.base-detail-wrap .map .map-control {
	width: 390px;
}

.base-detail-wrap .tab .tab-control>li {
	float: left;
	width: 33.333333333%;
	text-align: center;
}

.base-detail-wrap .tab .tab-control>li>a {
	display: block;
	padding: 15px 0;
	font-size: 18px;
	background-color: #282828;
}

.base-detail-wrap .tab .tab-control>li.active>a {
	background-color: #dd0024;
}

.base-detail-wrap .support .base-list li:nth-child(6n+1) {
	margin-left: 0;
}

.base-detail-wrap .case .base-list {
	margin-bottom: 20px;
}


/*
 *产品中心-越野器械
 ***************************************/

.page-performance {
	padding-top: 0;
}

.performance-wrap .row {
	margin-left: -10px;
	margin-right: -10px;
}

.performance-wrap div[class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}

.performance-wrap .popup-gallery {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	cursor: pointer;
}

.performance-wrap .popup-gallery .title {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	padding: 0 15px;
	width: 100%;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #888;
}

.performance-wrap .popup-gallery:hover .title {
	height: auto;
	background-color: #dd0024;
}

.performance-wrap .popup-gallery .title>p {
	line-height: 1;
	font-size: 14px;
}

.performance-wrap .popup-gallery .title>p.description {
	max-height: ;
}

.performance-wrap .popup-gallery .glyphicon-group .glyphicon {
	filter: alpha(opacity=50);
	opacity: .5;
}

.performance-wrap .popup-gallery .glyphicon-group.level1>:first-child,
.performance-wrap .popup-gallery .glyphicon-group.level2>:not(:nth-child(3)):not(:nth-child(4)):not(:last-child),
.performance-wrap .popup-gallery .glyphicon-group.level3>:not(:nth-child(4)):not(:last-child),
.performance-wrap .popup-gallery .glyphicon-group.level4>:not(:last-child),
.performance-wrap .popup-gallery .glyphicon-group.level5>span {
	filter: alpha(opacity=100);
	opacity: 1;
}


/*
 *产品中心-下载中心
 **************************************/

.page-download {}

.download-wrap .download-inner {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #888;
}

.download-wrap .download-inner a:hover,
.download-wrap .download-inner a:active,
.download-wrap .download-inner a:focus {
	color: white;
	text-decoration: none;
}

.download-wrap .download-inner .download-picture {
	float: left;
	width: 960px;
	height: 280px;
	overflow: hidden;
}

.download-wrap .download-inner .download-description {
	float: right;
	padding: 0 15px;
	text-align: center;
	width: 240px;
	height: 280px;
}

.download-wrap .download-inner .download-heading {
	margin-top: 80px;
	margin-bottom: 20px;
}

.section:nth-child(even) .download-picture {
	float: right !important;
}

.section:nth-child(even) .download-description {
	float: left !important;
}

.download-wrap .download-inner .btn-default {
	padding: 6px 18px;
	color: white;
	text-indent: 4px;
	letter-spacing: 4px;
	border-radius: 4px;
	background-color: transparent;
}

.download-wrap .download-inner .btn .fa {
	font-size: 16px;
}


/*
 *产品中心-问题与答案
 **************************************/

.page-q--a {}

.q--a-wrap dl {
	position: relative;
}

.q--a-wrap dt {
	position: relative;
	padding-left: 8px;
	margin-bottom: 40px;
	font-size: 20px;
}

.q--a-wrap dt .fa {
	position: relative;
	top: 5px;
	margin-right: 10px;
	color: #dd0024;
	font-size: 32px;
}

.q--a-wrap dt .fa:after {
	position: absolute;
	left: 1px;
	top: 1px;
	z-index: -1;
	content: "\f111";
	color: white;
	font-size: 28px;
}

.q--a-wrap dd {
	position: relative;
	padding: 25px 30px;
	font-size: 16px;
	background-color: #676767;
}

.q--a-wrap dd:before {
	position: absolute;
	top: -25px;
	left: 40px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	content: "\e253";
	color: #676767;
	font-size: 35px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*
 *联系我们-企业版图
 ***************************************/

.page-map {
	padding-top: 0;
}

.map-wrap:before,
.map-wrap:after {
	display: table;
	content: '';
}

.map-wrap:after {
	clear: both;
}

.map-wrap .pull-left {
	width: 420px;
}

.map-wrap .description {
	margin-bottom: 60px;
}

.map-wrap .description dt {
	padding-bottom: 27px;
	margin-bottom: 27px;
	border-bottom: 1px solid #666;
}

.map-wrap .description dd {
	margin-bottom: 10px;
	font-size: 16px;
}

.map-wrap .description dd .fa {
	min-width: 28px;
	color: #b0b0b0;
	text-align: center;
}

.map-wrap .description dd:first-child .fa {
	font-size: 18px;
}

.map-wrap .description dd:nth-child(2) .fa {
	font-size: 18px;
}

.map-wrap .list-brand {
	margin-bottom: 50px;
}

.map-wrap h4 {
	margin-left: 15px;
}

.map-wrap .list-brand .center-block {
	font-size: 20px;
}

.map-wrap .list-brand .center-block .glyphicon {
	top: 3px;
	margin: 0 6px;
	color: #c82226;
}

.map-wrap .list-brand .center-block+.center-block {
	margin-top: 15px;
}

.map-wrap .map-picture {
	position: relative;
	margin-top: -20px;
}

.map-wrap .city {
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 12px;
	text-indent: -9999em;
}


/*城市定位*/

.map-wrap a[data-name="hulunbeier"] {
	top: 68px;
	right: 158px;
}

.map-wrap a[data-name="haerbin"] {
	top: 96px;
	right: 60px;
}

.map-wrap a[data-name="changchun"] {
	top: 139px;
	right: 70px;
}

.map-wrap a[data-name="shenyang"] {
	top: 179px;
	right: 87px;
}

.map-wrap a[data-name="beijing"] {
	top: 222px;
	right: 178px;
}

.map-wrap a[data-name="shijiazhuang"] {
	top: 261px;
	right: 185px;
}

.map-wrap a[data-name="yinchuan"] {
	top: 267px;
	right: 294px;
}

.map-wrap a[data-name="taiyuan"] {
	top: 276px;
	right: 220px;
}

.map-wrap a[data-name="jinan"] {
	top: 278px;
	right: 151px;
}

.map-wrap a[data-name="qingdao"] {
	top: 268px;
	right: 105px;
}

.map-wrap a[data-name="xining"] {
	top: 300px;
	right: 369px;
}

.map-wrap a[data-name="lanzhou"] {
	top: 304px;
	right: 326px;
}

.map-wrap a[data-name="xian"] {
	top: 342px;
	right: 271px;
}

.map-wrap a[data-name="zhengzhou"] {
	top: 327px;
	right: 197px;
}

.map-wrap a[data-name="nanjing"] {
	top: 329px;
	right: 115px;
}

.map-wrap a[data-name="hefei"] {
	top: 357px;
	right: 147px;
}

.map-wrap a[data-name="suzhou"] {
	top: 362px;
	right: 114px;
}

.map-wrap a[data-name="shanghai"] {
	top: 365px;
	right: 81px;
}

.map-wrap a[data-name="chengdu"] {
	top: 395px;
	right: 320px;
}

.map-wrap a[data-name="chongqing"] {
	top: 399px;
	right: 275px;
}

.map-wrap a[data-name="wuhan"] {
	top: 390px;
	right: 181px;
}

.map-wrap a[data-name="nanchang"] {
	top: 418px;
	right: 150px;
}

.map-wrap a[data-name="hangzhou"] {
	top: 404px;
	right: 88px;
}

.map-wrap a[data-name="guiyang"] {
	top: 454px;
	right: 279px;
}

.map-wrap a[data-name="changsha"] {
	top: 434px;
	right: 201px;
}

.map-wrap a[data-name="fuzhou"] {
	top: 437px;
	right: 96px;
}

.map-wrap a[data-name="kunming"] {
	bottom: 114px;
	right: 348px;
}

.map-wrap a[data-name="nanning"] {
	bottom: 99px;
	right: 253px;
}

.map-wrap a[data-name="xiamen"] {
	bottom: 135px;
	right: 120px;
}

.map-wrap a[data-name="guangzhou"] {
	bottom: 111px;
	right: 198px;
}

.map-wrap a[data-name="shenzhen"] {
	bottom: 83px;
	right: 164px;
}

.map-wrap a[data-name="dongguan"] {
	bottom: 79px;
	right: 195px;
}

.map-wrap a[data-name="foshan"] {
	bottom: 54px;
	right: 227px;
}

.map-wrap a[data-name="haikou"] {
	bottom: 17px;
	right: 219px;
}

.map-wrap a[data-name="sanya"] {
	bottom: 0px;
	right: 254px;
}


/*气泡格式化*/

.popover-title {
	font-size: 14px;
	text-align: center;
}

.popover.left {
	background-color: #333;
	border-color: #333;
}

.popover.left>.arrow,
.popover.left>.arrow:after {
	border-left-color: #333;
}

.popover-content {
	padding: 15px 20px;
}

.popover-content h5 {
	margin: 0;
}


/*
 *联系我们-人才招聘
 ********************************************/

.page-job {
	background-color: #333;
}


/*
** 选项卡按钮样式
*/

.job-offers-wrap .tab-list {
	margin-top: -20px;
}

.job-offers-wrap .tab-list li {
	float: left;
}

.job-offers-wrap .tab-list li+li {
	margin-left: 10px;
}

.job-offers-wrap .tab-list a {
	display: block;
	padding: 13px 37px;
	color: white;
	font-size: 18px;
	text-align: center;
	background-color: #4c4c4c;
}

.job-offers-wrap .tab-list li.active a {
	background-color: #dd0024;
}


/*
** 项目左浮动
*/

.job-offers-wrap .offers-group:last-child .offers-item {
	padding-bottom: 0;
}

.job-offers-wrap .offers-group+.offers-group {
	border-top: 1px solid #414141;
}

.job-offers-wrap .offers-group .offers-item {
	float: left;
	width: 50%;
	padding: 35px 0;
}


/*
** 详情
*/

.job-offers-wrap .description li {
	line-height: 2;
	filter: alpha(opacity=60);
	opacity: .6;
}

.job-offers-wrap .description strong {
	display: inline-block;
	margin: 20px auto 10px;
}

.job-offers-wrap .description .mailto {
	margin: 30px auto 20px;
}

.job-offers-wrap .description .mailto>span {
	filter: alpha(opacity=60);
	opacity: .6;
}


/*
** 按钮
*/

.job-offers-wrap .description .btn {
	padding: 6px 38px;
	color: #fff;
	font-size: 16px;
	background-color: #dd0024;
	border-radius: 50px;
}


/*
 *联系我们-留言板
 ***************************************/

.page-message {}

.page-message .message-wrap .form-control {
	color: white;
	background-color: #666;
}

.page-message .message-wrap label {
	margin-left: -6px;
	font-size: 16px;
}

.page-message .message-wrap label .fa {
	min-width: 30px;
	text-align: center;
	font-size: 18px;
}

.page-message .message-wrap .btn {
	margin-top: 20px;
}

.page-message .message-wrap .form-group {
	margin-bottom: 25px;
}


/*
 *关于我们-企业概况
 ***************************************/

.page-introduction p {
	position: relative;
	margin-bottom: 30px;
	padding-left: 20px;
	font-size: 16px;
}

.page-introduction p:before {
	position: absolute;
	left: 0;
	top: 4px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	content: "\e072";
	color: #c82226;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page-introduction .ad-slogan {
	margin-bottom: 0;
}

.page-introduction .ad-slogan li {
	float: left;
	margin-bottom: 20px;
	width: 285px;
	height: 150px;
}

.page-introduction .ad-slogan li+li:not(:nth-child(5)) {
	margin-left: 20px;
}

.page-introduction .ad-slogan li.text {
	padding: 60px 10px 0 20px;
	color: white;
	background-color: #c82226;
}

.page-introduction .ad-slogan li span {
	display: block;
	margin-top: 5px;
	font-size: 18px;
}

.page-introduction .ad-slogan li.text.bg-gray {
	background-color: #676767;
}


/*
 *关于我们-发展历程
 ***************************************/

.page-history {}


/*
 *关于我们-组织架构
 ***************************************/

.page-organization {
	background-color: #323232;
}


/*
 *关于我们-企业文化
 ***************************************/

.page-culture {
	padding-bottom: 30px;
}

.culture-wrap .row {
	margin-left: -10px;
	margin-right: -10px;
}

.culture-wrap div[class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}

.culture-wrap .popup-gallery {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	cursor: pointer;
}

.culture-wrap .popup-gallery .title {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #888;
}

.culture-wrap .popup-gallery:hover .title {
	background-color: #dd0024;
}


/*
 *关于我们-精英团队
 ***************************************/

.page-team {
	padding-bottom: 30px;
}

.page-team .row {
	margin-left: -10px;
	margin-right: -10px;
}

.page-team div[class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}


/*.page-team div[class*="col-"]>div[class*="col-"]{
	padding-left: 0;
	padding-right: 0;
}

.page-team div[class*="col-"]>.row {
	margin-left: 0;
	margin-right: 0;
}*/

.team-wrap .title {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #888;
}


/*
 *关于我们-总经理致辞
 ***************************************/

.page-ceo-speech .ceo-photo {
	margin-bottom: 45px;
}

.page-ceo-speech dl {
	position: relative;
	padding-left: 30px;
	margin-bottom: 35px;
	font-size: 16px;
}

.page-ceo-speech dl:before {
	position: absolute;
	top: 5px;
	left: -2px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	content: "\e072";
	color: #c82226;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page-ceo-speech dl>dt {
	font-weight: bolder;
}

.page-ceo-speech dl>dd {
	line-height: 1.6;
	filter: alpha(opacity=80);
	opacity: .8;
}

.page-ceo-speech dl>dt+dd,
.page-ceo-speech dl>dd+dt {
	margin-top: 7px;
}


/*
 *成功案例
 ***************************************/

.case-wrap>ul {
	margin-left: -10px;
	margin-right: -10px;
}

.case-wrap>ul>li {
	float: left;
}

.case-wrap>ul>li[class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}

.case-wrap>ul>li[class="col-xs-12"] {
	width: 610px;
}

.case-wrap>ul>li[class="col-xs-6"] {
	width: 305px;
}

.case-wrap .popup-gallery {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	cursor: pointer;
}

.case-wrap .popup-gallery .title {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: #888;
}

.case-wrap .popup-gallery:hover .title {
	background-color: #dd0024;
}


/*
 *新闻中心
 ***************************************/

.page-news {}

.page-news .section {
	font-family: "黑体";
	background-color: transparent;
}

.page-news .section h3>small {
	font-size: 14px;
	color: white;
	filter: alpha(opacity=60);
	opacity: .6;
}

.page-news .section h3>b {
	display: block;
	margin: 7px auto 25px;
}

.news-wrap .news-inner {
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	background-color: #333;
}

.news-wrap .news-inner a:hover,
.news-wrap .news-inner a:active,
.news-wrap .news-inner a:focus {
	color: white;
	text-decoration: none;
}

.news-wrap .news-inner .news-picture {
	float: left;
	width: 590px;
	height: 291px;
	overflow: hidden;
}

.news-wrap .news-inner .news-description {
	float: right;
	padding: 60px 30px 0;
	text-align: center;
	width: 610px;
	height: 291px;
	line-height: 1.6;
	color: white;
	filter: alpha(opacity=60);
	opacity: .6;
}

.news-wrap .news-inner .news-description:hover {
	background-color: #dd0024;
	filter: alpha(opacity=100);
	opacity: 1;
}


/*-------------------------------------------------------------*\
    $业务范围
\*-------------------------------------------------------------*/

.page-business {
	background-color: #333;
}

.business-wrap .business-photo {
	position: relative;
}

.business-wrap .img-responsive {
	margin-left: auto;
	margin-right: auto;
}

.page-business dl {
	position: absolute;
	z-index: 9;
}

.page-business dl dt {
	margin-bottom: 20px;
	font-size: 20px;
}

.page-business dl dd {
	font-size: 16px;
	filter: alpha(opacity=80);
	opacity: .8;
}


/*
 *一站式试驾解决方案
 ***************************************/

.business-wrap.sevice .business-photo {
	margin: 130px auto;
}

.business-wrap.sevice dl:first-child {
	top: -110px;
	left: 550px;
}

.business-wrap.sevice dl:nth-child(2) {
	top: 110px;
	right: 50px;
}

.business-wrap.sevice dl:nth-child(3) {
	top: 375px;
	right: 35px;
}

.business-wrap.sevice dl:nth-child(4) {
	bottom: -150px;
	right: 340px;
}

.business-wrap.sevice dl:nth-child(5) {
	top: 375px;
	left: 35px;
}

.business-wrap.sevice dl:last-child {
	top: 120px;
	left: 35px;
}


/*
 *招商加盟
 ***************************************/

.business-wrap.investment .business-photo {
	margin: 0 auto 160px;
}

.business-wrap.investment dl:first-child {
	top: 32px;
	right: 100px;
}

.business-wrap.investment dl:nth-child(2) {
	top: 296px;
	right: 50px;
}

.business-wrap.investment dl:nth-child(3) {
	bottom: -170px;
	left: 500px;
}

.business-wrap.investment dl:nth-child(4) {
	top: 295px;
	left: 50px;
}

.business-wrap.investment dl:last-child {
	top: 30px;
	left: 110px;
}

.business-wrap.investment dl:hover {
	cursor: pointer;
}

.business-wrap.investment dl:hover>dt {
	color: #dd0024;
}

.business-wrap.investment dl>dd:last-child {
	display: none;
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	-ms-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.business-wrap.investment dl.active>dd:last-child {
	display: block;
}

.business-wrap.investment dl>dd>.img-thumbnail {
	position: absolute;
	z-index: 99;
	padding: 0;
	border-width: 3px;
	border-color: #dc0024;
}

.business-wrap.investment dl:first-child>dd>.img-thumbnail {
	left: -200px;
	top: -142px;
}

.business-wrap.investment dl:nth-child(2)>dd>.img-thumbnail {
	left: -199px;
	top: -142px;
}

.business-wrap.investment dl:nth-child(3)>dd>.img-thumbnail {
	left: 20px;
	top: -276px;
}

.business-wrap.investment dl:nth-child(4)>dd>.img-thumbnail {
	left: 220px;
	top: -142px;
}

.business-wrap.investment dl:last-child>dd>.img-thumbnail {
	left: 291px;
	top: -187px;
}


/*-------------------------------------------------------------*\
    $我要试驾
\*-------------------------------------------------------------*/

.page-test-drive .test-drive-wrap {
	color: #333;
	background-color: #f2f2f2;
}

.page-test-drive .top {
	position: relative;
	height: 260px;
}

.page-test-drive .navbar-brand,
.page-test-drive .title {
	position: absolute;
}

.page-test-drive .navbar-brand {
	margin: 0;
	left: 25px;
	top: 30px;
}

.page-test-drive .title {
	margin-top: -23px;
	margin-left: -110px;
	top: 50%;
	left: 50%;
}

.page-test-drive h1 {
	margin: 0;
	font-size: 46px;
	color: white;
}

.page-test-drive .form-wrap {
	padding: 30px 50px;
}

.page-test-drive .form-wrap .declare {
	padding-bottom: 35px;
	margin-top: 10px;
	font-size: 16px;
}

.page-test-drive .form-left {
	padding-right: 60px;
}

.page-test-drive .form-right {
	padding-left: 60px;
}

.page-test-drive .form-heading {
	padding-top: 10px;
	margin-bottom: 20px;
}

.page-test-drive .form-heading b {
	color: #dd0024;
}

.page-test-drive .form-heading small {
	margin-left: 10px;
}

.page-test-drive .form-group {
	margin-bottom: 30px;
}

.page-test-drive .form-group label {
	font-size: 18px;
	font-weight: normal;
}

.page-test-drive .form-group .input-lg {
	height: 38px;
}

.page-test-drive .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100% !important;
}

.page-test-drive .icon-required {
	position: relative;
	top: 7px;
	margin-right: 5px;
	color: #dd0024;
	font-style: normal;
	font-size: 24px;
}

.page-test-drive .provision {
	font-size: 16px;
	line-height: 1.8;
}

.page-test-drive .btn-submit {
	padding: 0 50px;
	height: 48px;
	font-size: 24px;
	color: white;
	text-align: center;
	background-color: #2d2d2d;
}

.page-test-drive .btn-group .btn {
	box-shadow: none;
}

.page-test-drive .btn-group label {
	text-align: left;
}

.page-test-drive .btn-group label:first-child {
	padding-left: 0;
}

.page-test-drive .btn-group label:before {
	min-width: 18px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page-test-drive .btn-group label.active:before {
	color: #dd0024;
}

.page-test-drive .btn-group .btn-radio:before {
	content: "\f1db";
}

.page-test-drive .btn-group .btn-radio.active:before {
	content: "\f192";
}

.page-test-drive .btn-group .btn-checkbox:before {
	content: "\f096";
}

.page-test-drive .btn-group .btn-checkbox.active:before {
	content: "\f046";
}

.page-test-drive input.datetimepicker[readonly] {
	color: white;
	border-color: #333;
	background-color: #333;
	cursor: pointer;
}

.page-test-drive .has-feedback .form-control.datetimepicker {
	padding-right: 25px;
	font-size: 16px;
	color: white;
}

.page-test-drive .has-feedback .form-control.datetimepicker::-webkit-input-placeholder {
	/* WebKit browsers */
	color: white;
}

.page-test-drive .has-feedback .form-control.datetimepicker:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: white;
}

.page-test-drive .has-feedback .form-control.datetimepicker::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: white;
}

.page-test-drive .has-feedback .form-control.datetimepicker:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: white;
}

.page-test-drive .has-feedback .form-control-feedback {
	top: 50%;
	width: 34px;
	height: 38px;
	line-height: 38px;
	color: white;
	font-size: 22px;
}

.page-test-drive .form-wrap .unsubscribe {
	padding-top: 35px;
	font-size: 16px;
}

.page-test-drive .form-wrap .declare,
.page-test-drive .form-wrap .unsubscribe {
	position: relative;
}

.page-test-drive .form-wrap .declare:before,
.page-test-drive .form-wrap .unsubscribe:before {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9;
	display: block;
	width: 100%;
	height: 1px;
	content: '';
	background: url(../img/web/line.png) no-repeat left center;
}

.page-test-drive .form-wrap .declare:before {
	bottom: 0;
}

.page-test-drive .form-wrap .unsubscribe:before {
	top: 0;
}


/*-------------------------------------------------------------*\
    $三级详情
\*-------------------------------------------------------------*/

.page-detail {}

.detail-article {}